In [9]:
import pandas as pd 

df=pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')
df=df[['selling_price','km_driven','year']]

In [10]:
df

      selling_price  km_driven  year
0             60000      70000  2007
1            135000      50000  2007
2            600000     100000  2012
3            250000      46000  2017
4            450000     141000  2014
...             ...        ...   ...
4335         409999      80000  2014
4336         409999      80000  2014
4337         110000      83000  2009
4338         865000      90000  2016
4339         225000      40000  2016

[4340 rows x 3 columns]

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
scaler=MinMaxScaler()
scaled_df=scaler.fit_transform(df)

scaled_df

array([[0.0045045 , 0.08678301, 0.53571429],
       [0.01295045, 0.06198751, 0.53571429],
       [0.06531532, 0.12397626, 0.71428571],
       ...,
       [0.01013514, 0.10290008, 0.60714286],
       [0.09515766, 0.11157851, 0.85714286],
       [0.02308559, 0.04958976, 0.85714286]], shape=(4340, 3))

In [16]:
scaled_df=pd.DataFrame(data=scaled_df, columns=df.columns)

In [17]:
scaled_df

      selling_price  km_driven      year
0          0.004505   0.086783  0.535714
1          0.012950   0.061988  0.535714
2          0.065315   0.123976  0.714286
3          0.025901   0.057028  0.892857
4          0.048423   0.174807  0.785714
...             ...        ...       ...
4335       0.043919   0.099181  0.785714
4336       0.043919   0.099181  0.785714
4337       0.010135   0.102900  0.607143
4338       0.095158   0.111579  0.857143
4339       0.023086   0.049590  0.857143

[4340 rows x 3 columns]

In [20]:
##perform minmax scaler operation after train test split (its a good practice)

In [30]:
from sklearn.model_selection import train_test_split
x=df.drop('selling_price', axis=1)
y=df['selling_price']
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2,random_state=42)
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [31]:
x_train_scaled

array([[0.02479426, 0.89285714],
       [0.06198751, 0.92857143],
       [0.03099313, 0.75      ],
       ...,
       [0.06322728, 0.85714286],
       [0.09918076, 0.75      ],
       [0.09918076, 0.75      ]], shape=(3472, 2))

In [32]:
x_test_scaled

array([[0.09918076, 0.64285714],
       [0.03347268, 0.96428571],
       [0.05172589, 0.57142857],
       ...,
       [0.04958976, 0.67857143],
       [0.0080325 , 0.89285714],
       [0.03719201, 0.96428571]], shape=(868, 2))