In [1]:
import pandas as pd
import numpy as np

In [3]:
dict1={
    "name" :['annup','tanvi','anup'],
    "city": ['dasif','dafk','dahfaifh']
    
}

In [4]:
df=pd.DataFrame(dict1)

In [5]:
df

    name      city
0  annup     dasif
1  tanvi      dafk
2   anup  dahfaifh