In [2]:
import pandas as pd 
import numpy as np

In [3]:
df=pd.read_excel('onedata.xlsx')
df.head()

   buyer  fruits  gender  value
0    ali   apple    male      2
1   noor   mango    male      3
2  wajid  orange  female      4
3  karim  banana    male      4

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
ohe=OneHotEncoder()
ohe=OneHotEncoder(drop='first',dtype=int, sparse_output=False)
df_trf=ohe.fit_transform(df[['buyer','fruits','gender']])

cols=ohe.get_feature_names_out()
df_trf

array([[0, 0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 1]])

In [12]:
pd.DataFrame(data=df_trf,columns=cols)

,buyer_karim,buyer_noor,buyer_wajid,fruits_banana,fruits_mango,fruits_orange,gender_male
0,0,0,0,0,0,0,1
1,0,1,0,0,1,0,1
2,0,0,1,0,0,1,0
3,1,0,0,1,0,0,1